.chat-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15%;
}

.chat-header img {
  height: 100px;
  border-radius: 50%;
}

.chat-header--welcome--text {
  font-size: 22px;
  color: #5ed7bd;
}

.chat-header--unread--messages {
  margin-bottom: 20px;
  text-align: center;
}
